/* Beginning Message */
#body {
  display: block;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
}

#message {
  display: flex;
  flex-direction: column;
  background-color: lightpink;
  border-radius: 20px;
  border: ridge whitesmoke 10px;
  padding: 10px;
}

p1 {
  display: flex;
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 10px;
}

p2 {
  display: flex;
  padding: 5px;
  font-size: 20px;
}

#price {
  display: flex;
  font-size: 25px;
  font-family: monospace;
  padding-top: 20px;
  text-decoration: underline;
}

/* Calculator */
#starting {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 3px;
  background-color: bisque;
  box-shadow: 12px 9px 8px 2px rgb(49, 45, 45) ;
  font-size: 40px;
  border: solid 3px black;
  color: darkred;
  font-family: fantasy;
}

#interact {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-evenly;
}

.button {
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  width: 160px;
  height: 35px;
}

.button:hover {
  cursor: pointer;
  background-color: hotpink;
}

#move {
  display: flex;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  margin: auto;
  margin-top: 20px;
  border: solid 3px black;
}

#move:hover {
  cursor: pointer;
  background-color: lawngreen;
}

#restart {
  display: flex;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin: auto;
  margin-top: 20px;
  border: solid 3px black;
}

#restart:hover {
  cursor: pointer;
  background-color: red;
}

.buttonimg {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.img {
  display: flex;
  align-self: center;
  max-height: 80px;
  margin-bottom: 10px;
}

#drinks {
  display: flex;
  flex-direction: row;
  align-self: center;
}

#foods {
  display: flex;
  flex-direction: row;
  align-self: center;
}

#taco {
  transform: rotate(-45deg);
  height: 50px;
}

#pasta {
  width: 80px;
  height: 100px;
}

#coffee {
  width: 70px;
  height: 70px;
  margin-bottom: 0px;
}